{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Add Order Product {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i></i> Home</a></li>
            <li><a href="#"><i></i> Trancations</a></li>
            <li><a href="#"> Add Order Product </a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                {#                <div class="box-header with-border">#}
                {#                    <h3 class="box-title">Quick Example</h3>#}
                {#                </div>#}
                {{ order_product_customer.errors }}

                <!-- /.box-header -->
                <!-- form start -->
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">

                            <label for="exampleInputEmail1">Brand</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_product_customer.brand class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_product_customer.price|attr:"readonly:readonly"  class+="form-control"  %}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quantity</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_product_customer.quantity class+="form-control" %}

                        </div>
                        <input type="hidden" id="id_order_product" value="{{ order_id }}">

                        {#                        <div class="checkbox">#}
                        {#                            <label>#}
                        {#                                <input type="checkbox"> Check me out#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'admin_trancation:order' %}" class="btn btn-default">Back</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </section>
{% endblock %}


{% block js %}
{% include 'js1.html' %}
{% endblock %}