{% extends 'admin/base.html' %}
{% load static %}

{##}
{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Add City
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">users</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                {{ city_form.errors }}
                <!-- /.box-header -->
                <!-- form start -->
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label>Name City</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field city_form.name_city class+="form-control" %}

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'admin_users_management:users_management' %}" class="btn btn-default">Back</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <form action="{% url 'admin_users_management:delete-city' %}" method="POST">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" onchange="checkAll(this)"></th>
                                        <th>City</th>
                                        {#                                <th>Photo</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for city in cities %}
                                        <tr>
                                            <th><input type="checkbox" value="{{ city.id }}" name="delete_selected">
                                            </th>
                                            <td>
                                                <a href="{% url 'admin_delivery_man:edit_delivery_man' city.id %}">{{ city.name_city }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% csrf_token %}
                            </div>
                            <!-- /.box-body -->
                            <div class="box-header box-footer">
                                <h3 class="box-title" onclick="myFunction()">
                                    <button type="submit" class="btn btn-block btn-danger">Delete</button>
                        </form>

                        </h3>
                    </div>
                </div>

                <!-- /.box -->


                <!-- /.box -->

            </div>
            <!-- /.col -->

        </div>


        </div>


    </section>




{% endblock %}