{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Product Price {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i></i> Home</a></li>
            <li><a href="#"><i></i> Trancations</a></li>
            <li><a href="#">Product Price</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            {% if  request.user.is_admin %}
                                <a href="{% url 'admin_trancation:add_product_price_super_admin' %}">
                                    <button type="button" class="btn btn-block btn-success">Add</button>
                                </a>
                            {% else %}
                                <a href="{% url 'admin_trancation:add_product_price' %}">
                                    <button type="button" class="btn btn-block btn-success">Add</button>
                                </a>
                            {% endif %}
                        </h3>

                        <div class="box-title pull-right">
                            {{ search_form.errors }}
                            <div class="has-feedback">
                                {#                                <input type="text" class="form-control input-sm" placeholder="Search">#}
                                <form id="serch-form" method="GET"
                                      action="{% url 'admin_trancation:search_product_price' %}">
                                    {% csrf_token %}
                                    {% render_field search_form.q class+="input-sm" placeholder+="Search" %}
                                    {#                                {{ search_form }}#}
                                    <button type="submit" class="btn btn-sm">Search</button>
                                </form>
                            </div>
                        </div>

                        <h3 class="box-title" onclick="myFunction()">

                            <a href="#" class="btn btn-block btn-danger" onclick="document.forms['form-id'].submit();">
                                Delete </a>

                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form  id='form-id' action="{% url 'admin_trancation:delete_product_price' %}" method="POST">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" onchange="checkAll(this)"></th>
                                    <th>Brand</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>City</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% load humanize %}
                                {% for product in products %}
                                    <tr>
                                        <th><input type="checkbox" value="{{ product.id }}" name="delete_selected"></th>
                                        <td>
                                            <a href="{% url 'admin_trancation:edit_product_price' product.id %}">{{ product.brand }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_trancation:edit_product_price' product.id %}"> {{ product.price|intcomma }}</a>
                                        </td>
                                        <td>
                                            {#                                        <a href="{% url 'admin_trancation:edit_product_price' product.id %}"> {{ product.image }}</a>#}
                                            {#                                            <img src="{{ product.image.url }}" style="height: 100px;width: 100px;">#}
                                            <a href="{{ product.image.url }}">{{ product.image }}</a>
                                            {#                                        <a href="{% url 'admin_trancation:edit_product_price' product.id %}"> {{ product.image }}</a>#}
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_trancation:edit_product_price' product.id %}"> {{ product.admin.city }}</a>
                                        </td>
                                        <td></td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}