{% load i18n static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}AdminLTE 2 | Dashboard {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static  'plugins/iCheck/flat/blue.css' %}">
    <!-- Morris chart -->
    {#    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css ' %}">#}
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}">

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {#          <li class="dropdown messages-menu">#}
                    {#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#              <i class="fa fa-envelope-o"></i>#}
                    {#              <span class="label label-success">4</span>#}
                    {#            </a>#}
                    {#            <ul class="dropdown-menu">#}
                    {#              <li class="header">You have 4 messages</li>#}
                    {#              <li>#}
                    {#                <!-- inner menu: contains the actual data -->#}
                    {#                <ul class="menu">#}
                    {#                  <li><!-- start message -->#}
                    {#                    <a href="#">#}
                    {#                      <div class="pull-left">#}
                    {#                        <img src="{% static 'dist/img/user2-160x160.jpg'%}" class="img-circle" alt="User Image">#}
                    {#                      </div>#}
                    {#                      <h4>#}
                    {#                        Support Team#}
                    {#                        <small><i class="fa fa-clock-o"></i> 5 mins</small>#}
                    {#                      </h4>#}
                    {#                      <p>Why not buy a new awesome theme?</p>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <!-- end message -->#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <div class="pull-left">#}
                    {#                        <img src="{% static 'dist/img/user3-128x128.jpg'%} " class="img-circle" alt="User Image">#}
                    {#                      </div>#}
                    {#                      <h4>#}
                    {#                        AdminLTE Design Team#}
                    {#                        <small><i class="fa fa-clock-o"></i> 2 hours</small>#}
                    {#                      </h4>#}
                    {#                      <p>Why not buy a new awesome theme?</p>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <div class="pull-left">#}
                    {#                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                    {#                      </div>#}
                    {#                      <h4>#}
                    {#                        Developers#}
                    {#                        <small><i class="fa fa-clock-o"></i> Today</small>#}
                    {#                      </h4>#}
                    {#                      <p>Why not buy a new awesome theme?</p>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <div class="pull-left">#}
                    {#                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">#}
                    {#                      </div>#}
                    {#                      <h4>#}
                    {#                        Sales Department#}
                    {#                        <small><i class="fa fa-clock-o"></i> Yesterday</small>#}
                    {#                      </h4>#}
                    {#                      <p>Why not buy a new awesome theme?</p>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <div class="pull-left">#}
                    {#                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                    {#                      </div>#}
                    {#                      <h4>#}
                    {#                        Reviewers#}
                    {#                        <small><i class="fa fa-clock-o"></i> 2 days</small>#}
                    {#                      </h4>#}
                    {#                      <p>Why not buy a new awesome theme?</p>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                </ul>#}
                    {#              </li>#}
                    {#              <li class="footer"><a href="#">See All Messages</a></li>#}
                    {#            </ul>#}
                    {#          </li>#}
                    <!-- Notifications: style can be found in dropdown.less -->
                    {#          <li class="dropdown notifications-menu">#}
                    {#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#              <i class="fa fa-bell-o"></i>#}
                    {#              <span class="label label-warning">10</span>#}
                    {#            </a>#}
                    {#            <ul class="dropdown-menu">#}
                    {#              <li class="header">You have 10 notifications</li>#}
                    {#              <li>#}
                    {#                <!-- inner menu: contains the actual data -->#}
                    {#                <ul class="menu">#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the#}
                    {#                      page and may cause design problems#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <i class="fa fa-users text-red"></i> 5 new members joined#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <li>#}
                    {#                    <a href="#">#}
                    {#                      <i class="fa fa-user text-red"></i> You changed your username#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                </ul>#}
                    {#              </li>#}
                    {#              <li class="footer"><a href="#">View all</a></li>#}
                    {#            </ul>#}
                    {#          </li>#}
                    <!-- Tasks: style can be found in dropdown.less -->
                    {#          <li class="dropdown tasks-menu">#}
                    {#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#              <i class="fa fa-flag-o"></i>#}
                    {#              <span class="label label-danger">9</span>#}
                    {#            </a>#}
                    {#            <ul class="dropdown-menu">#}
                    {#              <li class="header">You have 9 tasks</li>#}
                    {#              <li>#}
                    {#                <!-- inner menu: contains the actual data -->#}
                    {#                <ul class="menu">#}
                    {#                  <li><!-- Task item -->#}
                    {#                    <a href="#">#}
                    {#                      <h3>#}
                    {#                        Design some buttons#}
                    {#                        <small class="pull-right">20%</small>#}
                    {#                      </h3>#}
                    {#                      <div class="progress xs">#}
                    {#                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                    {#                          <span class="sr-only">20% Complete</span>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <!-- end task item -->#}
                    {#                  <li><!-- Task item -->#}
                    {#                    <a href="#">#}
                    {#                      <h3>#}
                    {#                        Create a nice theme#}
                    {#                        <small class="pull-right">40%</small>#}
                    {#                      </h3>#}
                    {#                      <div class="progress xs">#}
                    {#                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                    {#                          <span class="sr-only">40% Complete</span>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <!-- end task item -->#}
                    {#                  <li><!-- Task item -->#}
                    {#                    <a href="#">#}
                    {#                      <h3>#}
                    {#                        Some task I need to do#}
                    {#                        <small class="pull-right">60%</small>#}
                    {#                      </h3>#}
                    {#                      <div class="progress xs">#}
                    {#                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                    {#                          <span class="sr-only">60% Complete</span>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <!-- end task item -->#}
                    {#                  <li><!-- Task item -->#}
                    {#                    <a href="#">#}
                    {#                      <h3>#}
                    {#                        Make beautiful transitions#}
                    {#                        <small class="pull-right">80%</small>#}
                    {#                      </h3>#}
                    {#                      <div class="progress xs">#}
                    {#                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                    {#                          <span class="sr-only">80% Complete</span>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </a>#}
                    {#                  </li>#}
                    {#                  <!-- end task item -->#}
                    {#                </ul>#}
                    {#              </li>#}
                    {#              <li class="footer">#}
                    {#                <a href="#">View all tasks</a>#}
                    {#              </li>#}
                    {#            </ul>#}
                    {#          </li>#}
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Admin</span> {{ request.user|title }}
                            {{ request.user.user_admin.city|title }}
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            {#              <li class="user-header">#}
                            {#                <img src="{% static 'dist/img/user2-160x160.jpg'%}" class="img-circle" alt="User Image">#}
                            {##}
                            {#                <p>#}
                            {#                  Alexander Pierce - Web Developer#}
                            {#                  <small>Member since Nov. 2012</small>#}
                            {#                </p>#}
                            {#              </li>#}
                            <!-- Menu Body -->
                            {#              <li class="user-body">#}
                            {#                <div class="row">#}
                            {#                  <div class="col-xs-4 text-center">#}
                            {#                    <a href="#">Followers</a>#}
                            {#                  </div>#}
                            {#                  <div class="col-xs-4 text-center">#}
                            {#                    <a href="#">Sales</a>#}
                            {#                  </div>#}
                            {#                  <div class="col-xs-4 text-center">#}
                            {#                    <a href="#">Friends</a>#}
                            {#                  </div>#}
                            {#                </div>#}
                            {#                <!-- /.row -->#}
                            {#              </li>#}
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    {#          <li>#}
                    {#            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
                    {#          </li>#}
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->

        {#        {% load active_tags %}#}

        <section class="sidebar">
            {% block sidebar %}

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="{% url 'admin_dashboard:dashboard' %}">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>

                    </li>
                    {% if request.user.is_superuser %}

                        <li>
                            <a href="{% url 'admin_customers:customers' %}">
                                <i class="fa fa-user"></i> <span>Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_delivery_man:delivery_man' %}">
                                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'admin_users_management:users_management' %}">
                                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-fw fa-money" aria-hidden="true"></i> <span>Trancations</span>

                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="{% url 'admin_trancation:product_price' %}"><i
                                    class="fa fa-shopping-cart"></i>Price Products</a>
                            </li>
                            <li><a href="{% url 'admin_trancation:order' %}"><i class="fa fa-fw fa-exchange"></i> List
                                Order</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-sort-numeric-asc"></i>Order Reference</a></li>

                        </ul>
                    </li>
                </ul>

            {% endblock %}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block main_content %}

            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>150</h3>

                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>

                                <p>Bounce Rate</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>44</h3>

                                <p>User Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                {#      <!-- /.row -->#}
                {#      <!-- Main row -->#}
                {#      <div class="row">#}
                {#        <!-- Left col -->#}
                {#        <section class="col-lg-7 connectedSortable">#}
                {#          <!-- Custom tabs (Charts with tabs)-->#}
                {#          <div class="nav-tabs-custom">#}
                {#            <!-- Tabs within a box -->#}
                {#            <ul class="nav nav-tabs pull-right">#}
                {#              <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>#}
                {#              <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>#}
                {#              <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>#}
                {#            </ul>#}
                {#            <div class="tab-content no-padding">#}
                {#              <!-- Morris chart - Sales -->#}
                {#              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>#}
                {#              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>#}
                {#            </div>#}
                {#          </div>#}
                {#          <!-- /.nav-tabs-custom -->#}
                {##}
                {#          <!-- Chat box -->#}
                {#          <div class="box box-success">#}
                {#            <div class="box-header">#}
                {#              <i class="fa fa-comments-o"></i>#}
                {##}
                {#              <h3 class="box-title">Chat</h3>#}
                {##}
                {#              <div class="box-tools pull-right" data-toggle="tooltip" title="Status">#}
                {#                <div class="btn-group" data-toggle="btn-toggle">#}
                {#                  <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i>#}
                {#                  </button>#}
                {#                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>#}
                {#                </div>#}
                {#              </div>#}
                {#            </div>#}
                {#            <div class="box-body chat" id="chat-box">#}
                {#              <!-- chat item -->#}
                {#              <div class="item">#}
                {#                <img src="dist/img/user4-128x128.jpg" alt="user image" class="online">#}
                {##}
                {#                <p class="message">#}
                {#                  <a href="#" class="name">#}
                {#                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>#}
                {#                    Mike Doe#}
                {#                  </a>#}
                {#                  I would like to meet you to discuss the latest news about#}
                {#                  the arrival of the new theme. They say it is going to be one the#}
                {#                  best themes on the market#}
                {#                </p>#}
                {#                <div class="attachment">#}
                {#                  <h4>Attachments:</h4>#}
                {##}
                {#                  <p class="filename">#}
                {#                    Theme-thumbnail-image.jpg#}
                {#                  </p>#}
                {##}
                {#                  <div class="pull-right">#}
                {#                    <button type="button" class="btn btn-primary btn-sm btn-flat">Open</button>#}
                {#                  </div>#}
                {#                </div>#}
                {#                <!-- /.attachment -->#}
                {#              </div>#}
                {#              <!-- /.item -->#}
                {#              <!-- chat item -->#}
                {#              <div class="item">#}
                {#                <img src="dist/img/user3-128x128.jpg" alt="user image" class="offline">#}
                {##}
                {#                <p class="message">#}
                {#                  <a href="#" class="name">#}
                {#                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>#}
                {#                    Alexander Pierce#}
                {#                  </a>#}
                {#                  I would like to meet you to discuss the latest news about#}
                {#                  the arrival of the new theme. They say it is going to be one the#}
                {#                  best themes on the market#}
                {#                </p>#}
                {#              </div>#}
                {#              <!-- /.item -->#}
                {#              <!-- chat item -->#}
                {#              <div class="item">#}
                {#                <img src="dist/img/user2-160x160.jpg" alt="user image" class="offline">#}
                {##}
                {#                <p class="message">#}
                {#                  <a href="#" class="name">#}
                {#                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>#}
                {#                    Susan Doe#}
                {#                  </a>#}
                {#                  I would like to meet you to discuss the latest news about#}
                {#                  the arrival of the new theme. They say it is going to be one the#}
                {#                  best themes on the market#}
                {#                </p>#}
                {#              </div>#}
                {#              <!-- /.item -->#}
                {#            </div>#}
                {#            <!-- /.chat -->#}
                {#            <div class="box-footer">#}
                {#              <div class="input-group">#}
                {#                <input class="form-control" placeholder="Type message...">#}
                {##}
                {#                <div class="input-group-btn">#}
                {#                  <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>#}
                {#                </div>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
                {#          <!-- /.box (chat box) -->#}
                {##}
                {#          <!-- TO DO List -->#}
                {#          <div class="box box-primary">#}
                {#            <div class="box-header">#}
                {#              <i class="ion ion-clipboard"></i>#}
                {##}
                {#              <h3 class="box-title">To Do List</h3>#}
                {##}
                {#              <div class="box-tools pull-right">#}
                {#                <ul class="pagination pagination-sm inline">#}
                {#                  <li><a href="#">&laquo;</a></li>#}
                {#                  <li><a href="#">1</a></li>#}
                {#                  <li><a href="#">2</a></li>#}
                {#                  <li><a href="#">3</a></li>#}
                {#                  <li><a href="#">&raquo;</a></li>#}
                {#                </ul>#}
                {#              </div>#}
                {#            </div>#}
                {#            <!-- /.box-header -->#}
                {#            <div class="box-body">#}
                {#              <ul class="todo-list">#}
                {#                <li>#}
                {#                  <!-- drag handle -->#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <!-- checkbox -->#}
                {#                  <input type="checkbox" value="">#}
                {#                  <!-- todo text -->#}
                {#                  <span class="text">Design a nice theme</span>#}
                {#                  <!-- Emphasis label -->#}
                {#                  <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>#}
                {#                  <!-- General tools such as edit or delete-->#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#                <li>#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <input type="checkbox" value="">#}
                {#                  <span class="text">Make the theme responsive</span>#}
                {#                  <small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#                <li>#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <input type="checkbox" value="">#}
                {#                  <span class="text">Let theme shine like a star</span>#}
                {#                  <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#                <li>#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <input type="checkbox" value="">#}
                {#                  <span class="text">Let theme shine like a star</span>#}
                {#                  <small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#                <li>#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <input type="checkbox" value="">#}
                {#                  <span class="text">Check your messages and notifications</span>#}
                {#                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 week</small>#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#                <li>#}
                {#                      <span class="handle">#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                        <i class="fa fa-ellipsis-v"></i>#}
                {#                      </span>#}
                {#                  <input type="checkbox" value="">#}
                {#                  <span class="text">Let theme shine like a star</span>#}
                {#                  <small class="label label-default"><i class="fa fa-clock-o"></i> 1 month</small>#}
                {#                  <div class="tools">#}
                {#                    <i class="fa fa-edit"></i>#}
                {#                    <i class="fa fa-trash-o"></i>#}
                {#                  </div>#}
                {#                </li>#}
                {#              </ul>#}
                {#            </div>#}
                {#            <!-- /.box-body -->#}
                {#            <div class="box-footer clearfix no-border">#}
                {#              <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>#}
                {#            </div>#}
                {#          </div>#}
                {#          <!-- /.box -->#}
                {##}
                {#          <!-- quick email widget -->#}
                {#          <div class="box box-info">#}
                {#            <div class="box-header">#}
                {#              <i class="fa fa-envelope"></i>#}
                {##}
                {#              <h3 class="box-title">Quick Email</h3>#}
                {#              <!-- tools box -->#}
                {#              <div class="pull-right box-tools">#}
                {#                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">#}
                {#                  <i class="fa fa-times"></i></button>#}
                {#              </div>#}
                {#              <!-- /. tools -->#}
                {#            </div>#}
                {#            <div class="box-body">#}
                {#              <form action="#" method="post">#}
                {#                <div class="form-group">#}
                {#                  <input type="email" class="form-control" name="emailto" placeholder="Email to:">#}
                {#                </div>#}
                {#                <div class="form-group">#}
                {#                  <input type="text" class="form-control" name="subject" placeholder="Subject">#}
                {#                </div>#}
                {#                <div>#}
                {#                  <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>#}
                {#                </div>#}
                {#              </form>#}
                {#            </div>#}
                {#            <div class="box-footer clearfix">#}
                {#              <button type="button" class="pull-right btn btn-default" id="sendEmail">Send#}
                {#                <i class="fa fa-arrow-circle-right"></i></button>#}
                {#            </div>#}
                {#          </div>#}
                {##}
                {#        </section>#}
                {#        <!-- /.Left col -->#}
                {#        <!-- right col (We are only adding the ID to make the widgets sortable)-->#}
                {#        <section class="col-lg-5 connectedSortable">#}
                {##}
                {#          <!-- Map box -->#}
                {#          <div class="box box-solid bg-light-blue-gradient">#}
                {#            <div class="box-header">#}
                {#              <!-- tools box -->#}
                {#              <div class="pull-right box-tools">#}
                {#                <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">#}
                {#                  <i class="fa fa-calendar"></i></button>#}
                {#                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">#}
                {#                  <i class="fa fa-minus"></i></button>#}
                {#              </div>#}
                {#              <!-- /. tools -->#}
                {##}
                {#              <i class="fa fa-map-marker"></i>#}
                {##}
                {#              <h3 class="box-title">#}
                {#                Visitors#}
                {#              </h3>#}
                {#            </div>#}
                {#            <div class="box-body">#}
                {#              <div id="world-map" style="height: 250px; width: 100%;"></div>#}
                {#            </div>#}
                {#            <!-- /.box-body-->#}
                {#            <div class="box-footer no-border">#}
                {#              <div class="row">#}
                {#                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">#}
                {#                  <div id="sparkline-1"></div>#}
                {#                  <div class="knob-label">Visitors</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">#}
                {#                  <div id="sparkline-2"></div>#}
                {#                  <div class="knob-label">Online</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#                <div class="col-xs-4 text-center">#}
                {#                  <div id="sparkline-3"></div>#}
                {#                  <div class="knob-label">Exists</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#              </div>#}
                {#              <!-- /.row -->#}
                {#            </div>#}
                {#          </div>#}
                {#          <!-- /.box -->#}
                {##}
                {#          <!-- solid sales graph -->#}
                {#          <div class="box box-solid bg-teal-gradient">#}
                {#            <div class="box-header">#}
                {#              <i class="fa fa-th"></i>#}
                {##}
                {#              <h3 class="box-title">Sales Graph</h3>#}
                {##}
                {#              <div class="box-tools pull-right">#}
                {#                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>#}
                {#                </button>#}
                {#                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>#}
                {#                </button>#}
                {#              </div>#}
                {#            </div>#}
                {#            <div class="box-body border-radius-none">#}
                {#              <div class="chart" id="line-chart" style="height: 250px;"></div>#}
                {#            </div>#}
                {#            <!-- /.box-body -->#}
                {#            <div class="box-footer no-border">#}
                {#              <div class="row">#}
                {#                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">#}
                {#                  <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">#}
                {##}
                {#                  <div class="knob-label">Mail-Orders</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">#}
                {#                  <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">#}
                {##}
                {#                  <div class="knob-label">Online</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#                <div class="col-xs-4 text-center">#}
                {#                  <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">#}
                {##}
                {#                  <div class="knob-label">In-Store</div>#}
                {#                </div>#}
                {#                <!-- ./col -->#}
                {#              </div>#}
                {#              <!-- /.row -->#}
                {#            </div>#}
                {#            <!-- /.box-footer -->#}
                {#          </div>#}
                {#          <!-- /.box -->#}
                {##}
                {#          <!-- Calendar -->#}
                {#          <div class="box box-solid bg-green-gradient">#}
                {#            <div class="box-header">#}
                {#              <i class="fa fa-calendar"></i>#}
                {##}
                {#              <h3 class="box-title">Calendar</h3>#}
                {#              <!-- tools box -->#}
                {#              <div class="pull-right box-tools">#}
                {#                <!-- button with a dropdown -->#}
                {#                <div class="btn-group">#}
                {#                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">#}
                {#                    <i class="fa fa-bars"></i></button>#}
                {#                  <ul class="dropdown-menu pull-right" role="menu">#}
                {#                    <li><a href="#">Add new event</a></li>#}
                {#                    <li><a href="#">Clear events</a></li>#}
                {#                    <li class="divider"></li>#}
                {#                    <li><a href="#">View calendar</a></li>#}
                {#                  </ul>#}
                {#                </div>#}
                {#                <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>#}
                {#                </button>#}
                {#                <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>#}
                {#                </button>#}
                {#              </div>#}
                {#              <!-- /. tools -->#}
                {#            </div>#}
                {#            <!-- /.box-header -->#}
                {#            <div class="box-body no-padding">#}
                {#              <!--The calendar -->#}
                {#              <div id="calendar" style="width: 100%"></div>#}
                {#            </div>#}
                {#            <!-- /.box-body -->#}
                {#            <div class="box-footer text-black">#}
                {#              <div class="row">#}
                {#                <div class="col-sm-6">#}
                {#                  <!-- Progress bars -->#}
                {#                  <div class="clearfix">#}
                {#                    <span class="pull-left">Task #1</span>#}
                {#                    <small class="pull-right">90%</small>#}
                {#                  </div>#}
                {#                  <div class="progress xs">#}
                {#                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>#}
                {#                  </div>#}
                {##}
                {#                  <div class="clearfix">#}
                {#                    <span class="pull-left">Task #2</span>#}
                {#                    <small class="pull-right">70%</small>#}
                {#                  </div>#}
                {#                  <div class="progress xs">#}
                {#                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>#}
                {#                  </div>#}
                {#                </div>#}
                {#                <!-- /.col -->#}
                {#                <div class="col-sm-6">#}
                {#                  <div class="clearfix">#}
                {#                    <span class="pull-left">Task #3</span>#}
                {#                    <small class="pull-right">60%</small>#}
                {#                  </div>#}
                {#                  <div class="progress xs">#}
                {#                    <div class="progress-bar progress-bar-green" style="width: 60%;"></div>#}
                {#                  </div>#}
                {##}
                {#                  <div class="clearfix">#}
                {#                    <span class="pull-left">Task #4</span>#}
                {#                    <small class="pull-right">40%</small>#}
                {#                  </div>#}
                {#                  <div class="progress xs">#}
                {#                    <div class="progress-bar progress-bar-green" style="width: 40%;"></div>#}
                {#                  </div>#}
                {#                </div>#}
                {#                <!-- /.col -->#}
                {#              </div>#}
                {#              <!-- /.row -->#}
                {#            </div>#}
                {#          </div>#}
                {#          <!-- /.box -->#}
                {##}
                {#        </section>#}
                {#        <!-- right col -->#}
                {#      </div>#}
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        {% block footer %}
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All
            rights
            reserved.
        {% endblock %}
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
{% block js %}

    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    {#<script src="{% static 'plugins/morris/morris.min.js' %}"></script>#}
    <!-- Sparkline -->
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- jvectormap -->
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src=" {% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>

    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    {#<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>#}
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>


    {#<script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>#}
    {#<script src="{% static 'autocomplete_light/select2.js' %}"></script>#}

    <script type="application/javascript">


        $(function () {

            {#            $('#id_price option[value="2222"]').prop('selected', true);#}


            $('#reservationtime').daterangepicker({
                maxDate: new Date(),
                timePicker: true,
                timePickerIncrement: 30,
                format: ' h:mm A'
            });


            $(".select2").select2({
                maximumSelectionLength: 3
            });
            $('#datepicker').datepicker({
                autoclose: true
            });
            $(".timepicker").timepicker({
                showInputs: true
            });

        });;

        function checkAll(ele) {
            var checkboxes = document.getElementsByTagName('input');
            if (ele.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                    }
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(i);;
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = false;
                    }
                }
            }
        }


        function myFunction() {
            var x;
            if (confirm("Are you sure you want to delete this item!") == true) {
                x = "You pressed OK!";
                return true
            } else {
                x = "You pressed Cancel!";
                return false
            }
        }

    </script>
{% endblock %}

</body>
</html>
