{% extends 'admin/base.html' %}
{% load static %}


{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Add Admin
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">users</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                {{ user_form.errors }}
                {{ city_form.errors }}
                <!-- /.box-header -->
                <!-- form start -->
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputPassword1">City</label>
                            {#                            <input type="password" class="form-control" id="exampleInputPassword1"#}
                            {#                                   placeholder="Password">#}

                            {% render_field city_list_form.name_city class+="form-control  select2" %}
                            {#                            <select class="form-control select2" name="city">#}
                            {#                                <option selected="selected"></option>#}
                            {#                                {% for i in cities %}#}
                            {#                                    <option value="{{ i.id }}">{{ i.name }}</option>#}
                            {#                                {% endfor %}#}
                            {#                                <option>California</option>#}
                            {#                                <option>Delaware</option>#}
                            {#                                <option>Tennessee</option>#}
                            {#                                <option>Texas</option>#}
                            {#                                <option>Washington</option>#}
                            {#                            </select>#}
                        </div>
                        <div class="form-group">
                            <a href="{% url 'admin_users_management:add_city' %}">
                                <div><i class="fa fa-fw fa-plus"></i> Add City</div>
                                <a href=""></a>
                            </a>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">User Name</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field user_form.username class+="form-control" %}

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            {#                            <input type="password" class="form-control" id="exampleInputPassword1"#}
                            {#                                   placeholder="Password">#}

                            {% render_field user_form.password class+="form-control" %}

                        </div>


                        {#                        <div class="checkbox">#}
                        {#                            <label>#}
                        {#                                <input type="checkbox"> Check me out#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'admin_users_management:users_management' %}" class="btn btn-default">Back</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </section>


{% endblock %}