{% extends 'admin/base.html' %}

{##}
{#{% block sidebar %}#}
{##}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{##}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin</span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Add Admin
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Users</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a href="{% url 'admin_users_management:add_users_management' %}">
                                <button type="button" class="btn btn-block btn-success">Add</button>
                            </a>
                        </h3>
                        <h3 class="box-title" onclick="myFunction()">
                            <a href="#" class="btn btn-block btn-danger" onclick="document.forms['form-id'].submit();">
                                Delete </a>

                        </h3>
                        <div class="box-title pull-right">
                            {{ search_form.errors }}
                            <div class="has-feedback">
                                {#                                <input type="text" class="form-control input-sm" placeholder="Search">#}
                                <form id="serch-form" method="GET"
                                      action="{% url 'admin_users_management:search_users_management' %}">
{#                                    {% csrf_token %}#}
                                    {% render_field search_form.q class+="input-sm" placeholder+="Search" %}
                                    {#                                {{ search_form }}#}
                                    <button type="submit" class="btn btn-sm">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="form-id" action="{% url 'admin_users_management:delete_users_management' %}"
                              method="POST">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" onchange="checkAll(this)"></th>
                                    <th>Username</th>
                                    <th>City</th>
                                    {#                                <th>Photo</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin in admins %}
                                    <tr>
                                        <th><input type="checkbox" value="{{ admin.id }}" name="delete_selected"></th>
                                        <td>
                                            <a href="{{ admin.get_absolute_url }}">{{ admin.user }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ admin.get_absolute_url }}">{{ admin.get_name_city }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                {% if admins.has_other_pages %}
                    <ul class="pagination">
                        {% if admins.has_previous %}
                            <li><a href="?page={{ admins.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in admins.paginator.page_range %}
                            {% if admins.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if admins.has_next %}
                            <li><a href="?page={{ admins.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}