{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="active">#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Edit Customer
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Edit Customer</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                {{ customer_form.errors }}
                {{ user_form.errors }}

                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'admin_customers:edit_customer' user_id %}" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            {#                                                        <input type="text" class="form-control" id="exampleInputEmail1">#}
                            {% render_field customer_form.email class+="form-control" %}

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            {#                            <input type="password" class="form-control" id="exampleInputPassword1"#}
                            {#                                   placeholder="Password">#}

                            {% render_field user_form.password class+="form-control" %}

                        </div>
                        {#                        <div class="form-group">#}
                        {#                            <label for="exampleInputFile">Photo input</label>#}
                        {#                            <input type="file" id="exampleInputFile">#}
                        {#                            {% render_field form.photo class+="form-control" %}#}
                        {##}
                        {#                            <p class="help-block">Example block-level help text here.</p>#}
                        {#                        </div>#}
                        {#                        <div class="checkbox">#}
                        {#                            <label>#}
                        {#                                <input type="checkbox"> Check me out#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a href="{% url 'admin_customers:customers' %}" class="btn btn-default">Back</a>

                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </section>
{% endblock %}