{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="active">#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}

{% block main_content %}
    <section class="content-header">
        <h1>
            Customer
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Customer</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a href="{% url 'admin_customers:add_customer' %}">
                                <button type="button" class="btn btn-block btn-success">Add</button>
                            </a>
                        </h3>
                        <h3 class="box-title" onclick="myFunction()">
                            {% csrf_token %}
                            {#                                <button type="submit" class="btn btn-block btn-danger">Delete</button>#}
                            <a href="#" class="btn btn-block btn-danger" onclick="document.forms['form-id'].submit();">
                                Delete </a>
                        </h3>
                        <div class="box-title pull-right">
                            {{ search_form.errors }}
                            <div class="has-feedback">
                                {#                                <input type="text" class="form-control input-sm" placeholder="Search">#}
                                <form id="serch-form" method="GET"
                                      action="{% url 'admin_customers:search_customer' %}">
                                    {% csrf_token %}
                                    {% render_field search_form.q class+="input-sm" placeholder+="Search" %}
                                    {#                                {{ search_form }}#}
                                    <button type="submit" class="btn btn-sm">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="form-id" method="post" action="{% url 'admin_customers:delete_customer' %}">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" value="" class="selectall" onchange="checkAll(this)"
                                    ></th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for user in users %}
                                    <tr>
                                        <th><input type="checkbox" value="{{ user.id }}" name="delete_selected"></th>
                                        <td>
                                            <a href="{% url 'admin_customers:edit_customer' user.id %}">{{ user.first_name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_customers:edit_customer' user.id %}"> {{ user.last_name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_customers:edit_customer' user.id %}"> {{ user.phone_number }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_customers:edit_customer' user.id %}">{{ user.email }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% csrf_token %}
                        </form>

                    </div>
                    <!-- /.box-body -->
                </div>
                {% if users.has_other_pages %}
                    <ul class="pagination">
                        {% if users.has_previous %}
                            <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in users.paginator.page_range %}
                            {% if users.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if users.has_next %}
                            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}


