{#{% block js %}#}
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#    <script language="javascript">#}
{#        $('#id_brand_select').change(function() {populateCar(this)});#}
{#        $('#id_description').addClass('descriptions');#}
{#        cars = {{ order_product.cars | safe }}#}
{#        brands = {{ order_product.brands | safe}};#}
{#        prices = {{ order_product.prices | safe}};#}
{#        populateBrand();#}
{#        $("#id_car_select").empty();#}
{#        $("#id_car_select").append('<option value="" disabled selected>First select a brand</option>');#}
{#        function populateBrand() {#}
{#            $('#id_brand_select').empty();#}
{#            $("#id_brand_select").append('<option value="" disabled selected>Select your option</option>');#}
{#            $.each(brands, function(v) {#}
{#                $('#id_brand_select')#}
{#                    .append($("<option></option>")#}
{#                    .attr("value", brands[v])#}
{#                    .text(brands[v]));#}
{#            });#}
{#        }#}
{##}
{#        function populateCar(event) {#}
{#            brand = $("#id_brand_select option:selected").text();#}
{#            $("#id_car_select").empty();#}
{#            $("#id_car_select").append('<option value="" disabled selected>Select your option</option>');#}
{#            for (let [b, bcars] of Object.entries(cars)) {#}
{#                if (b == brand) {#}
{#                    //alert(b);#}
{#                    for (car in bcars) {#}
{#                        $('#id_car_select')#}
{#                            .append($("<option></option>")#}
{#                                .attr("value", bcars[car])#}
{#                                .text(bcars[car]));#}
{#                    }#}
{#                }#}
{#            }#}
{#        }#}
{##}
{#        function populatePrice(event) {#}
{#            brand = $("#id_brand_select option:selected").text();#}
{#            cosole.log(brand)#}
{#            $("#id_car_select").empty();#}
{#            $("#id_car_select").append('<option value="" disabled selected>Select your option</option>');#}
{#            for (let [b, bcars] of Object.entries(cars)) {#}
{#                if (b == brand) {#}
{#                    //alert(b);#}
{#                    for (car in bcars) {#}
{#                        $('#id_car_select')#}
{#                            .append($("<option></option>")#}
{#                                .attr("value", bcars[car])#}
{#                                .text(bcars[car]));#}
{#                    }#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}


{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function () {
            {#           $("#id_brand").change(function () {#}
            {#                var brand = $("#id_brand").val();#}
            {#                var price = $('#id_price option[value="' + brand + '"]').val();#}
            {#                console.log(price)#}
            {#                $('#id_price option[value="' + price + '"]').prop('selected', true);#}
            {##}
            {#            })#}

            $("#id_brand").change(function () {
                var brand = $("#id_brand").val();
                var id_order_product = $("#id_order_product").val();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'admin_trancation:select_brand_product' %}",
                    data: {"brand": brand,"id_order_product":id_order_product,  csrfmiddlewaretoken: '{{ csrf_token }}',},
                    dataType: 'json',
                    success: function (data) {

                        $("#id_price").val(data.brand_price);
                    }
                });

            });


        })


    </script>

{% endblock %}