{% extends 'admin/base.html' %}


{% block sidebar %}

    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
            <a href="{% url 'admin:dashboard' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'admin:customers' %}">
                <i class="fa fa-user"></i> <span>Customer</span>
            </a>
        </li>

        <li class="active">
            <a href="{% url 'admin:delivery_man' %}">
                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>
            </a>
        </li>
    </ul>

{% endblock %}


{% block main_content %}
    <section class="content-header">
        <h1>
            Delivery Man
            {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Delivery man</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a href="{% url 'admin:add_delivery_man' %}">
                                <button type="button" class="btn btn-block btn-success">Add</button>
                            </a>
                        </h3>
                        <h3 class="box-title" onclick="myFunction()">
                            <form action="{% url 'admin:delete_delivery_man' %}" method="POST">
                                <button type="submit" class="btn btn-block btn-danger">Delete</button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><input type="checkbox" onchange="checkAll(this)"></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                {#                                <th>Photo</th>#}
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr>
                                    <th><input type="checkbox" value="{{ user.id }}" name="delete_selected"></th>
                                    <td><a href="{% url 'admin:edit_delivery_man' user.id %}">{{ user.first_name }}</a>
                                    </td>
                                    <td><a href="{% url 'admin:edit_delivery_man' user.id %}"> {{ user.last_name }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'admin:edit_delivery_man' user.id %}"> {{ user.phone_number }}</a>
                                    </td>
                                    <td><a href="{% url 'admin:edit_delivery_man' user.id %}">{{ user.email }}</a></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}