{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Add Order Customer {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i></i> Home</a></li>
            <li><a href="#"><i></i> Trancations</a></li>
            <li><a href="#"> Add Order Customer</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                {{ order_customer_form.errors }}

                <!-- /.box-header -->
                <!-- form start -->
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label>User Customer</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.user_order class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>Longitude</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.longitude class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>Latitude</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.latitude class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>Detail Location</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.detail_location class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>User Name</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.name_user class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.phone_number class+="form-control" %}

                        </div>
                        <div class="form-group">
                            <label>Delivery Date</label>
                            {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                            {% render_field order_customer_form.delivery_date class+="form-control" id+="datepicker" %}

                        </div>

                        <div class="form-group">
                            <label>Time</label>
                            {% render_field order_customer_form.time class+="form-control" id+="reservationtime" %}

                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            {% render_field order_customer_form.status class+="form-control" %}

                        </div>

                        {% if user.is_admin %}
                            <div class="form-group">
                                <label>City</label>
                                {% render_field city_form.city_name class+="form-control" %}

                            </div>
                        {% endif %}


                        {##}
                        {#                        <div class="form-group bootstrap-timepicker">#}
                        {#                            <label>Time</label>#}
                        {#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                        {#                            {% render_field order_customer_form.time class+="form-control timepicker" %}#}
                        {##}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <a href="#">#}
                        {#                                <div><i class="fa fa-fw fa-plus"></i> Add Product</div>#}
                        {#                            </a><a href="#"></a>#}
                        {#                        </div>#}

                        {#                        <div class="form-group ">#}
                        {#                            <label>City</label>#}
                        {#                            {% render_field order_product.brand_select class+="form-control " %}#}
                        {##}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="form-group ">#}
                        {#                            <label>Brand</label>#}
                        {#                            {% render_field order_product.car_select class+="form-control " %}#}
                        {##}
                        {#                        </div>#}
                        {#                        <div class="form-group ">#}
                        {#                            <label>Price</label>#}
                        {#                            {% render_field order_product.price_select class+="form-control " %}#}
                        {##}
                        {#                        </div>#}
                        {##}
                        {#                           <div class="form-group ">#}
                        {#                            <label>City</label>#}
                        {#                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                        {#                            {% render_field order_city.name class+="form-control " %}#}
                        {##}
                        {#                        </div>#}


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'admin_trancation:order' %}" class="btn btn-default">Back</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </section>
{% endblock %}


{% block js %}
    {% include 'js1.html' %}
{% endblock %}