{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
        <h1>
            Order Detail {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i></i> Home</a></li>
            <li><a href="#"><i></i> Trancations</a></li>
            <li><a href="#">Order List</a></li>
            <li><a href="#">Order Detail</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>User Name</th>
                                <th>Detail Location</th>
                                <th>Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% load humanize %}
                            <tr>
                                <td>
                                    <a href="#">{{ order.created }}</a>
                                </td>
                                <td>
                                    <a href="#"> {{ order.name_user }}</a>
                                </td>

                                <td>
                                    <a href="#"> {{ order.detail_location }}</a>
                                </td>
                                <td>
                                    <a href="#"> {{ order.status }}</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                <a href="{% url 'admin_trancation:add_order_product' order.id %}">
                                    <button type="button" class="btn btn-block btn-success">Add</button>
                                </a>
                            </h3>
                            <h3 class="box-title" onclick="myFunction()">
                                <form action="{% url 'admin_trancation:delete_order_product' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-block btn-danger">Delete</button>
                            </h3>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-condensed">
                                <tbody>
                                <tr>

                                    <th style="width: 10px">No</th>
                                    <th><input type="checkbox" onchange="checkAll(this)"></th>

                                    <th>Brand</th>
                                    <th>Quantity</th>

                                    <th>Price</th>
                                    {#                                    <th>Edit</th>#}
                                </tr>
                                {% for i in order.product_order.all %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>
                                        <th><input type="checkbox" value="{{ i.id }}" name="delete_selected"></th>
                                        <td>
                                            <a href="{% url 'admin_trancation:edit_order_product' i.id %}">{{ i.brand }}</a>
                                        </td>
                                        <td>{{ i.price }}</td>
                                        <td>{{ i.quantity }}</td>
                                        {#                                        <td><a  class="btn btn-default" href="{% url 'admin_trancation:edit_order_product' order.id %}">dsdasda</a> </td>#}

                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ total }}</td>
                                </tr>
                                </tbody>
                            </table>
                             {% csrf_token %}
                        </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box -->

                <a href="{% url 'admin_trancation:order' %}" class="btn btn-default">Back</a>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}