{% extends 'admin/base.html' %}


{#{% block sidebar %}#}
{##}
{##}
{#    <ul class="sidebar-menu">#}
{#        <li class="header">MAIN NAVIGATION</li>#}
{#        <li class="treeview">#}
{#            <a href="{% url 'admin_dashboard:dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_customers:customers' %}">#}
{#                <i class="fa fa-user"></i> <span>Customer</span>#}
{#            </a>#}
{#        </li>#}
{##}
{#        <li class="active">#}
{#            <a href="{% url 'admin_delivery_man:delivery_man' %}">#}
{#                <i class="fa  fa-motorcycle"></i> <span>Delivery Man</span>#}
{##}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'admin_users_management:users_management' %}">#}
{#                <i class="fa fa-users" aria-hidden="true"></i> <span>Users Admin </span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endblock %}#}


{% block main_content %}
    <section class="content-header">
        <h1>
            Order List {#            <small>advanced tables</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i></i> Home</a></li>
            <li><a href="#"><i></i> Trancations</a></li>
            <li><a href="#">Order List</a></li>
            {#            <li class="active">Data tables</li>#}
        </ol>
    </section>
    {% load widget_tweaks %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            {% if  request.user.is_admin %}
                                <a href="{% url 'admin_trancation:add_order_super_admin' %}">
                                    <button type="button" class="btn btn-block btn-success">Add</button>
                                </a>
                            {% else %}
                                <a href="{% url 'admin_trancation:add_order' %}">
                                    <button type="button" class="btn btn-block btn-success">Add</button>
                                </a>
                            {% endif %}
                        </h3>
                        <h3 class="box-title" onclick="myFunction()">
                            <a href="#" class="btn btn-block btn-danger" onclick="document.forms['form-id'].submit();">
                                Delete </a>
                        </h3>
                    <div class="box-title pull-right">
                            {{ search_form.errors }}
                            <div class="has-feedback">
                                {#                                <input type="text" class="form-control input-sm" placeholder="Search">#}
                                <form id="serch-form" method="GET"
                                      action="{% url 'admin_trancation:search_order' %}">
{#                                    {% csrf_token %}#}
                                    {% render_field search_form.q class+="input-sm" placeholder+="Search" %}
                                    {#                                {{ search_form }}#}
                                    <button type="submit" class="btn btn-sm">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form action="{% url 'admin_trancation:delete_order' %}" method="POST">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" onchange="checkAll(this)"></th>
                                    <th>Date</th>
                                    <th>User Name</th>
                                    <th>City</th>
                                    <th>Phone Number</th>
                                    <th>Longitude</th>
                                    <th>Latitude</th>
                                    <th>Delivery Date</th>
                                    <th>Status</th>
                                    <th>Details</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% load humanize %}
                                {% for order in orders %}
                                    <tr>
                                        <th><input type="checkbox" value="{{ order.id }}" name="delete_selected"></th>
                                        <td>
                                            <a href="#">{{ order.created }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.name_user }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.name_city }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.phone_number }}</a>
                                        </td>

                                        <td>
                                            <a href="#"> {{ order.longitude }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.latitude }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.delivery_date }}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{ order.status }}</a>
                                        </td>

                                        <td>
                                            <a href="{% url 'admin_trancation:order_show' order.id %}"
                                               class="btn btn-info">Show</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}